deploy_to_ha.sh
backups
devtools/__pycache__
mock_data
custom_components/ha_washdata/__pycache__

mqtt-mock.log
cycle_data/washer_cycles.json
mqtt-mock.log*
tests/__pycache__
ha_washdata.code-workspace