deploy_to_ha.sh
backups
devtools/__pycache__
mock_data
custom_components/ha_washdata/__pycache__

mqtt-mock.log
mqtt-mock.log*
tests/__pycache__
ha_washdata.code-workspace
devtools/secrets.py
.gitignore
custom_components/ha_washdata/test_data
tests/repro/__pycache__
simulator.log
.dev_notes
devtools/priv_secrets.py
devtools/mock_socket.db
server.log
devtools/mock_socket_config.json
devtools/uploaded_cycles