deploy_to_ha.sh
backups
devtools/__pycache__
mock_data
custom_components/ha_washdata/__pycache__

mqtt-mock.log
mqtt-mock.log*
tests/__pycache__
ha_washdata.code-workspace
devtools/secrets.py
.gitignore
custom_components/ha_washdata/test_data
tests/repro/__pycache__
tests/fix_notes3.md
tests/vNext_plan.md
tests/fix_notes.md
tests/fix_note2.md
cycle_data